<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>DigiBird blog</title>
    <link rel="shortcut icon" href="img/favicon.ico">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="bs/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/digibird.css" rel="stylesheet">
</head>

<body class="home">
    <!-- navigation bar -->
    {{>navbar}}

    <!-- banner -->
    <img src="img/hondecoeter.jpg" class="img-responsive">
    </img>

    <!-- blog posts -->
    <div class="container blog" id="posts">
      <h1>Blog posts here!</h1>
      Title: {{samplePost.title}} </br>
      Message: {{samplePost.post.message}} </br>
      Signature: {{samplePost.post.signature}}
      Contributors:
      <ul>
        {{#each contributors}}
        <li>{{this.name}} is affiliated with {{this.institution}}</li>
        {{/each}}
      </ul>
    </div>

    <!-- commit -->
    <div class="container footer">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>DigiBird is a valorisation project funded by the Dutch national program <a href="http://www.commit-nl.nl">COMMIT/</a>.</p>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
</body>
</html>
